<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tiny test! :3</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/TinyStreamManager.js"></script>
  </head>

  <body>
    <h1>Hello, tiny world!</h1>
    <h2><a href="./pudding.txt" target="_blank">Pudding! :3</a></h2>
    <p>This is a very simple HTML5 page.</p>

    <button id="active-stream">Active Stream</button>

    <script>
      const socket = io('http://localhost:3050');
      const manager = new TinyStreamManager(socket);

      async function getDevices() {
        await manager.updateDeviceList();
        const micList = document.getElementById('micList');
        const mics = manager.getDevicesByKind('audio');
        mics.forEach((device) => {
          const opt = document.createElement('option');
          opt.value = device.deviceId;
          opt.textContent = device.label || `Microphone (${device.deviceId})`;
          micList.appendChild(opt);
        });

        console.log(manager.getDevicesByKind('audio'));
        console.log(manager.getDevicesByKind('video'));
        console.log(manager.getDevicesByKind('speaker'));
      }

      async function startAll() {
        // Usa dispositivos específicos se quiser
        await manager.startMicrophone({
          deviceId: { exact: 'default' },
          echoCancellation: false,
          noiseSuppression: false,
          autoGainControl: false,
          highpassFilter: false,
        });

        await manager.startWebcam();
        await manager.startScreenShare();
        await manager.updateDeviceList();

        // Lista todos os dispositivos
        console.table(manager.getDevicesByKind('audio'));
        console.table(manager.getDevicesByKind('video'));
        console.table(manager.getDevicesByKind('speaker'));

        manager.sendMicStream('mic');
        manager.sendCamStream('cam');
        manager.sendScreenStream('screen');
      }

      document.getElementById('active-stream').addEventListener('click', () => startAll());
    </script>
  </body>
</html>
