<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tiny test! :3</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/TinyStreamManager.js"></script>
    <style>
      #progressContainer {
        width: 400px;
        height: 20px;
        background: #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
      }
      #progressBar {
        height: 100%;
        background: #4caf50;
        width: 0%;
      }
    </style>
  </head>

  <body>
    <h1>Hello, tiny world!</h1>
    <h2><a href="./pudding.txt" target="_blank">Pudding! :3</a></h2>
    <p>This is a very simple HTML5 page.</p>

    <button id="active-stream">Active Stream</button>
    <button id="active-stream-2">Active Quiet Stream</button>

    <p>Local volume</p>
    <div id="progressContainer">
      <div id="progressBar"></div>
    </div>

    <script>
      const socket = io('http://localhost:3050');
      const manager = new TinyStreamManager();

      manager.on(manager.Events.Mic, (data, metadata) =>
        socket.emit('mic', data, { time: Date.now() }),
      );

      manager.on(manager.Events.Cam, (data, metadata) =>
        socket.emit('cam', data, { time: Date.now() }),
      );

      manager.on(manager.Events.Screen, (data, metadata) =>
        socket.emit('screen', data, { time: Date.now() }),
      );

      manager.on(manager.Events.MicMeter, (data) => {
        const progressBar = document.getElementById('progressBar');
        progressBar.style.width = Number(data.perc) + '%';
      });

      async function getDevices() {
        await manager.updateDeviceList();
        const micList = document.getElementById('micList');
        const mics = manager.getDevicesByKind('audio');
        mics.forEach((device) => {
          const opt = document.createElement('option');
          opt.value = device.deviceId;
          opt.textContent = device.label || `Microphone (${device.deviceId})`;
          micList.appendChild(opt);
        });

        console.log(manager.getDevicesByKind('audio'));
        console.log(manager.getDevicesByKind('video'));
        console.log(manager.getDevicesByKind('speaker'));
      }

      async function startAll(isQuiet = false) {
        console.log(!isQuiet);
        // Usa dispositivos específicos se quiser
        await manager.startMic(
          {
            deviceId: { exact: 'default' },
            echoCancellation: false,
            noiseSuppression: false,
            autoGainControl: false,
            highpassFilter: false,
          },
          !isQuiet,
        );

        await manager.startScreen(true, !isQuiet);
        await manager.startCam();

        // Lista todos os dispositivos
        await manager.updateDeviceList();
        console.table(manager.getDevicesByKind('audio'));
        console.table(manager.getDevicesByKind('video'));
        console.table(manager.getDevicesByKind('speaker'));
      }

      document.getElementById('active-stream').addEventListener('click', () => startAll(false));
      document.getElementById('active-stream-2').addEventListener('click', () => startAll(true));
    </script>
  </body>
</html>
