<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tiny test! :3</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/TinyStreamManager.js"></script>
    <style>
      #progressContainer {
        width: 400px;
        height: 20px;
        background: #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
      }
      #progressBar {
        height: 100%;
        background: #4caf50;
        width: 0%;
      }
    </style>
  </head>

  <body>
    <h1>Hello, tiny world!</h1>
    <h2><a href="./pudding.txt" target="_blank">Pudding! :3</a></h2>
    <p>This is a very simple HTML5 page.</p>

    <button id="active-stream">Active Stream</button>
    <button id="active-stream-2">Active Quiet Stream</button>

    <p>Local volume</p>
    <div id="progressContainer">
      <div id="progressBar"></div>
    </div>

    <div id="players">
      <h2>Video Stream Test</h2>
      <video id="videoTest" width="640" height="360" controls autoplay muted>
        Your browser does not support the video tag.
      </video>

      <h2>Audio Stream Test</h2>
      <audio id="audioTest" controls autoplay>Your browser does not support the audio tag.</audio>

      <h2>Screen Sharing Video</h2>
      <video id="screenVideo" width="800" height="450" autoplay playsinline controls></video>
    </div>

    <script>
      // Server
      const socket = io('http://localhost:3050');
      const manager = new TinyStreamManager();

      // Mic
      manager.on(manager.Events.Mic, (data, metadata) =>
        socket.emit('mic', data, { time: Date.now() }),
      );

      // Cam
      manager.on(manager.Events.Cam, (data, metadata) =>
        socket.emit('cam', data, { time: Date.now() }),
      );

      // Screen
      manager.on(manager.Events.Screen, (data, metadata) =>
        socket.emit('screen', data, { time: Date.now() }),
      );

      manager.on(manager.Events.MicMeter, (data) => {
        const progressBar = document.getElementById('progressBar');
        progressBar.style.width = Number(data.perc) + '%';
      });

      async function startAll(isQuiet = false) {
        console.log(!isQuiet);
        // Usa dispositivos específicos se quiser
        await manager.startMic(
          {
            deviceId: { exact: 'default' },
            echoCancellation: false,
            noiseSuppression: false,
            autoGainControl: false,
            highpassFilter: false,
          },
          !isQuiet,
        );

        await manager.startCam();
        // await manager.startScreen(true, !isQuiet);

        // Lista todos os dispositivos
        await manager.updateDeviceList();
        console.table(manager.getDevicesByKind('audio'));
        console.table(manager.getDevicesByKind('video'));
        console.table(manager.getDevicesByKind('speaker'));
      }

      // Active stream buttons
      document.getElementById('active-stream').addEventListener('click', () => startAll(false));
      document.getElementById('active-stream-2').addEventListener('click', () => startAll(true));
    </script>

    <script>
      // Tags
      const video = document.getElementById('videoTest');
      const audio = document.getElementById('audioTest');
      const screenVideo = document.getElementById('screenVideo');

      // Exemplo: Loga eventos para testes
      video.addEventListener('play', () => console.log('Video started'));
      video.addEventListener('pause', () => console.log('Video paused'));
      audio.addEventListener('play', () => console.log('Audio started'));
      audio.addEventListener('pause', () => console.log('Audio paused'));

      manager.on(manager.Events.ReceiverAdded, (metadata, receiver) => {
        const { userId, type, mime, elementName } = metadata;

        console.log('Receiver Added', metadata);
        receiver.on(receiver.Events.Error, (err) => {
          console.warn(`New error detected! ${userId} ${type} ${mime} ${elementName}`, err);
        });

        receiver.on(receiver.Events.SourceOpen, () => {
          console.log(`Source Open ${userId} ${type} ${mime} ${elementName}`);
        });

        /** receiver.on(receiver.Events.FeedQueue, (chuck) => {
          console.log(`Feed Queue ${userId} ${type} ${mime} ${elementName}`, chuck);
        }); */
      });

      manager.on(manager.Events.ReceiverDeleted, (metadata) => {
        console.log('Receiver Deleted', metadata);
      });

      socket.on('mic', (data, metadata) => {
        const { userId, time } = metadata;
        const { mime, streamData } = data;
        const receiver = manager.initReceiver(userId, 'mic', mime, audio);
        receiver.pushChunk(streamData);
      });

      socket.on('cam', (data, metadata) => {
        const { userId, time } = metadata;
        const { mime, streamData } = data;
        const receiver = manager.initReceiver(userId, 'cam', mime, video);
        receiver.pushChunk(streamData);
      });

      socket.on('screen', (data, metadata) => {
        const { userId, time } = metadata;
        const { mime, streamData } = data;
        const receiver = manager.initReceiver(userId, 'screen', mime, screenVideo);
        receiver.pushChunk(streamData);
      });
    </script>
  </body>
</html>
